<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Codazon_Shopbybrandpro::shopbybrandpro" title="Codazon - Shop by brand" sortOrder="9">
					<resource id="Codazon_Shopbybrandpro::index" title="Manage" sortOrder="10" />
					<resource id="Codazon_Shopbybrandpro::edit" title="Edit" sortOrder="20" />
					<resource id="Codazon_Shopbybrandpro::save" title="Save" sortOrder="20" />
					<resource id="Codazon_Shopbybrandpro::settings" title="Settings" sortOrder="30" />
				</resource>
			</resource>
		</resources>
	</acl>
</config>
