<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Amasty\CheckoutCore\Block\Adminhtml\Field\Edit\Group\Row\Renderer" type="Amasty\Checkout\Block\Adminhtml\Field\Edit\Group\Row\Renderer" />
    <preference for="Amasty\CheckoutCore\Block\Adminhtml\Field\Edit\Group\Renderer" type="Amasty\Checkout\Block\Adminhtml\Field\Edit\Group\Renderer" />

    <type name="Amasty\CheckoutCore\Controller\Adminhtml\Field\Save">
        <plugin name="Amasty_Checkout::savePlaceholder" type="Amasty\Checkout\Plugin\Controller\Adminhtml\Field\Save"/>
    </type>
    <type name="Amasty\Base\Model\ModuleInfoProvider">
        <plugin name="Amasty_Checkout::replaceModuleInfo" type="Amasty\Checkout\Plugin\Base\Model\ModuleInfoProvider\ReplaceModuleInfo" />
    </type>
</config>
