<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Codazon. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <codazon_shipping_cost_calculator>
            <general>
                <enable>1</enable>
                <display_country>1</display_country>
                <display_region>1</display_region>
                <display_postcode>1</display_postcode>
                <use_price_inclucding_tax>0</use_price_inclucding_tax>
                <auto_calculate>0</auto_calculate>
                <address_format><![CDATA[<%- country_id %>, <%- region_name %>]]></address_format>
                <no_shipping_message>There are no shipping methods available for this region.</no_shipping_message>
                <title>Ship to</title>
                <action_label>Calculate Shipping Cost</action_label>
                <display_flag>1</display_flag>
            </general>
        </codazon_shipping_cost_calculator>
    </default>
</config>