<?xml version="1.0"?>
<!--
/**
* Copyright © 2019 Codazon. All rights reserved.
* See COPYING.txt for license details.
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Codazon_GoogleAmpManager::core" parent="Codazon_Options::Codazon_Options" title="Google AMP" translate="title" module="Codazon_GoogleAmpManager" sortOrder="100" resource="Codazon_GoogleAmpManager::core" />
        <add id="Codazon_GoogleAmpManager::settings" parent="Codazon_GoogleAmpManager::core" title="Settings" translate="title" module="Codazon_GoogleAmpManager" sortOrder="20" resource="Codazon_GoogleAmpManager::settings" action="adminhtml/system_config/edit/section/googleampmanager" />
    </menu>
</config>