<!-- ko foreach: getRegion('errors') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<div class="dotsquares_opc_clear"></div>
<div id="dotsquares_opc_top" class="dotsquares_opc_universal_wrapper dotsquares_opc_two_column_wrapper">
    <!-- ko foreach: getRegion('payment-buttons') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <!-- ko foreach: getRegion('sidebar') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
</div>
<div class="dotsquares_opc_clear"></div>
<!-- ko foreach: getRegion('steps') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->