@media only screen and (max-width: 768px) {
  .am-checkout .product-item .product-item-inner {
    flex-direction: column;
  }
}
@media all and (min-width: 640px) {
  .checkout-index-index .modal-popup.modal-slide:not(.agreements-modal):not(.popup-authentication) .modal-inner-wrap {
    width: 500px;
  }
}
@media all and (min-width: 1024px), print {
  .checkout-index-index .opc-wrapper.am-opc-wrapper .shipping-address-item {
    width: 50%;
  }
}
.checkout-index-index .authentication-wrapper {
  margin-right: 9px;
}
.checkout-index-index .checkout-header {
  margin: 12px 0 20px;
  padding: 0 9px;
  width: 70%;
}
.checkout-index-index .checkout-header .title {
  margin: 0 auto 7px;
}
.checkout-index-index .checkout-header .description {
  font-size: 18px;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  float: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-2columns .checkout-column,
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3columns .checkout-column {
  width: 100%;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3columns .shipping-address-item:nth-child(3n + 1):before {
  display: block;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3columns .shipping-address-item:nth-child(2n + 1):before {
  display: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3columns .shipping-address-item,
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-2-3-columns .shipping-address-item {
  width: 50%;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3columns .shipping-address-item:only-child,
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-2-3-columns .shipping-address-item:only-child {
  width: 100%;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3columns .table-checkout-shipping-method,
.checkout-index-index .opc-wrapper.am-opc-wrapper.layout-2-3-columns .table-checkout-shipping-method {
  min-width: 0;
  width: 100%;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper:before {
  display: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .step-content {
  margin: 0;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .shipping-address {
  margin-bottom: 0;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper #co-payment-form .discount-code {
  display: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper #co-payment-form .rewards-add {
  display: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper #co-payment-form .gift-code {
  display: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .discount-code .payment-option-title {
  border: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-agreement {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-agreement label {
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-agreement div.mage-error {
  -webkit-flex-basis: 100%;
  flex-basis: 100%;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-agreement .action-show {
  text-align: left;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .payment-method-content,
.checkout-index-index .opc-wrapper.am-opc-wrapper .payment-option-content {
  padding: 0 22px 20px;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .payment-option-content .action-apply {
  margin-right: 0;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .payment-method-content .actions-toolbar > .primary {
  padding-right: 0;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-block > li {
  list-style-type: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .field.amcheckout-comment {
  margin-bottom: 10px;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .label {
  word-break: break-all;
  word-wrap: break-word;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-billing-address {
  max-width: 500px;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-billing-address .billing-address-same-as-shipping-block {
  margin: 5px 0 10px;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-billing-address .actions-toolbar {
  margin-top: 15px;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-billing-address .actions-toolbar .action.action-cancel {
  margin: 0 20px 0 0;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-billing-address .primary {
  float: right;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-billing-address .field-select-billing .label {
  display: none;
}
.checkout-index-index .opc-wrapper.am-opc-wrapper .checkout-shipping-address .primary {
  float: right;
}
.checkout-index-index .am-submit-summary #checkout-payment-method-load .actions-toolbar {
  display: none;
}
.checkout-index-index .am-submit-summary #checkout-payment-method-load .payment-method-billing-address .actions-toolbar {
  display: block;
}
.checkout-index-index .am-submit-fixed #checkout-payment-method-load .actions-toolbar {
  background-color: #eaeaea;
  display: block;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  text-align: center;
  transform: translate(-50%);
  width: 1240px;
  z-index: 999;
}
.checkout-index-index .am-submit-fixed #checkout-payment-method-load .actions-toolbar > * {
  float: none;
}
.checkout-index-index .am-submit-fixed.-top #checkout-payment-method-load .actions-toolbar {
  bottom: auto;
  top: 0;
}
.checkout-index-index .am-submit-fixed.-bottom #checkout-payment-method-load .actions-toolbar {
  bottom: 0;
}
.checkout-index-index .checkout-block {
  -webkit-transition: box-shadow 0.5s;
  -moz-transition: box-shadow 0.5s;
  -ms-transition: box-shadow 0.5s;
  transition: box-shadow 0.5s;
  background: #fff;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.15);
  margin: 7px 9px 32px;
  padding: 24px 12px;
}
.checkout-index-index .checkout-block:hover {
  box-shadow: 0 1px 4px 1px rgba(25, 121, 195, 0.45);
}
.checkout-index-index .am-checkout {
  margin: 20px 0;
  padding: 12px;
}
.checkout-index-index .am-checkout .product-item .amcheckout-price-wrapper {
  font-size: 1.2rem;
  margin: 5px 0;
}
.checkout-index-index .am-checkout:not(.-modern) {
  background: #eaeaea;
}
.checkout-index-index .opc-block-summary {
  margin: -24px -12px 0;
  padding: 24px 12px;
}
.checkout-index-index .opc-block-summary .minicart-items-wrapper {
  margin: 0;
}
.checkout-index-index .additional-options {
  margin: 24px 7px 12px;
}
.checkout-index-index .additional-options .checkout-agreements .action-show {
  background: none;
  border: 0;
  border-radius: 0;
  color: #006bb4;
  display: inline;
  font-weight: 400;
  line-height: 1.42857143;
  padding: 0;
  text-decoration: none;
}
.checkout-index-index .additional-options .checkout-agreements .action-show:not(:focus) {
  box-shadow: none;
}
.checkout-index-index .additional-options .field {
  margin-top: 7px;
}
.checkout-index-index .amcheckout-form-login .mage-error:not([style*='display: none;']) + .field-error {
  display: none;
}
.checkout-index-index .additional-options .field._required .label:after {
  color: #e02b27;
  content: '*';
  font-size: 1.2rem;
  margin: 0 0 0 5px;
}
.checkout-index-index .opc-block-summary .minicart-items input[type='number']::-webkit-inner-spin-button,
.checkout-index-index .opc-block-summary .minicart-items input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button !important;
}
.checkout-index-index .opc-block-summary .minicart-items input[type='number']:focus {
  -moz-appearance: spinner !important;
}
.checkout-index-index .opc-block-summary .minicart-items input.qty {
  width: 55px;
}
.checkout-index-index .opc-block-summary .minicart-items button {
  float: right;
  margin-top: 12px;
}
.checkout-index-index .opc-block-summary .minicart-items .delete {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iMTAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZmlsbD0ibm9uZSIgZD0iTS0xLTFoMTJ2MTJILTF6Ii8+PHBhdGggZmlsbD0iI2I1YjViNSIgY2xhc3M9ImFjdGl2ZS1wYXRoIiBkPSJNNiA1bDQtNC0xLTEtNCA0LTQtNC0xIDEgNCA0LTQgNCAxIDEgNC00IDQgNCAxLTEtNC00eiIgc3Ryb2tlPSJudWxsIi8+PC9zdmc+) no-repeat center;
  background-size: 7px;
  border: 1px #b6b6b6 solid;
  cursor: pointer;
  float: left;
  height: 7px;
  padding: 3px;
  width: 7px;
}
.checkout-index-index .opc-block-summary .minicart-items .product-item-details {
  padding-left: 118px;
}
.checkout-index-index .opc-block-summary .minicart-items .product-image-container {
  margin-left: 16px;
}
@media (min-width: 900px) {
  .checkout-index-index .opc-wrapper.am-opc-wrapper {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .checkout-index-index .opc-wrapper.am-opc-wrapper.layout-2columns .checkout-column {
    width: 50%;
  }
  .checkout-index-index .opc-wrapper.am-opc-wrapper.layout-3columns .checkout-column {
    width: 33.3%;
  }
}
.checkout-index-index #opc-shipping_method #checkout-shipping-method-load .table-checkout-shipping-method {
  max-width: 600px;
}
.checkout-index-index #opc-shipping_method #checkout-shipping-method-load .table-checkout-shipping-method .col-price {
  min-width: unset;
}
.checkout-index-index .modal-popup:not(.agreements-modal):not(.popup-authentication) .modal-inner-wrap {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  right: 0;
  width: 100%;
}
.checkout-payment-method .payment-methods {
  margin: 0;
}
.checkout-payment-method .payment-methods .actions-toolbar .primary {
  font-size: 1.8rem;
  line-height: 2.2rem;
  padding: 14px 17px;
}
.checkout-payment-method.submit .payment-methods {
  margin: 0;
}
.fieldset.address {
  margin: 0 -7px;
}
.fieldset.address > .field {
  box-sizing: border-box;
  display: inline-block;
  padding: 0 7px;
  vertical-align: top;
  width: 100%;
}
.checkout-success .success-messages {
  font-size: 1.8rem;
  margin-bottom: 40px;
}
.account .column.main .order-details-items {
  margin-bottom: 0;
}
.account .column.main .order-details-items .order-items .data.table > tbody > tr:nth-child(even) > td {
  background: none;
}
.page-main .block.block-order-details {
  margin-bottom: 25px;
}
.page-main .block.block-order-details .order-date {
  border-bottom: 1px solid #c6c6c6;
  font-size: 1.6rem;
  padding-bottom: 25px;
}
.page-main .block.block-order-details-comments {
  margin-bottom: 35px;
}
.page-main .block.block-order-details-view {
  margin-bottom: 10px;
}
.page-main .block.block-order-details-view:nth-child(2) .block-title {
  display: none;
}
#registration {
  border-left: 3px solid #f58c12;
  margin: 20px 0 25px;
  padding: 0 0 0 12px;
  position: relative;
  width: 600px;
}
#registration br {
  display: none;
}
#registration form {
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  right: 0;
  top: 50%;
}
.opc-estimated-wrapper .minicart-wrapper {
  display: none;
}
.amcheckout-default-tooltip.tooltipster-base.tooltipster-sidetip {
  height: auto !important;
}
.amcheckout-default-tooltip.tooltipster-base.tooltipster-sidetip .tooltipster-box {
  border: 1px solid #999999;
  border-radius: 0;
  color: inherit !important;
}
.amcheckout-default-tooltip.tooltipster-base.tooltipster-sidetip .tooltipster-content {
  padding: 12px;
  background: #f4f4f4;
}
.amcheckout-default-tooltip.tooltipster-base.tooltipster-sidetip .tooltipster-arrow {
  width: 12px;
}
.amcheckout-default-tooltip.tooltipster-base.tooltipster-sidetip.tooltipster-right .tooltipster-arrow {
  left: -3px;
}
.amcheckout-default-tooltip.tooltipster-base.tooltipster-sidetip.tooltipster-left .tooltipster-arrow {
  right: -2px;
  width: 14px;
}
.amcheckout-default-tooltip.tooltipster-base.tooltipster-sidetip .tooltipster-arrow-background {
  left: 3px;
  border-right-color: #f4f4f4;
  border-left-color: #f4f4f4;
}
.amcheckout-default-tooltip.tooltipster-base.tooltipster-sidetip .tooltipster-arrow-border {
  top: 2px;
  width: 16px;
  height: 16px;
  background-color: #999999 !important;
}
.amcheckout-default-tooltip.tooltipster-base.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
  left: 15px;
}
.amcheckout-default-tooltip.tooltipster-base.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
  left: -5px;
  z-index: -1;
}
