<?xml version="1.0"?>
<!--
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package Amasty_CheckoutStyleSwitcher
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amasty_checkout>
            <design>
                <checkout_design>0</checkout_design>
                <layout_modern>3columns</layout_modern>
                <place_button_layout>summary</place_button_layout>
            </design>
        </amasty_checkout>
    </default>
</config>
