<?xml version="1.0"?>
<!--
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package Amasty_CheckoutDeliveryDate
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <amasty_checkout>
            <delivery_date>
                <delivery_comment_enable>1</delivery_comment_enable>
                <delivery_comment_default></delivery_comment_default>
            </delivery_date>
        </amasty_checkout>
    </default>
</config>
