<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Codazon_AjaxLayeredNavPro::menu" title="Codazon - Ajax Layered Navigation Pro" sortOrder="9">
					<resource id="Codazon_AjaxLayeredNavPro::settings" title="Settings" sortOrder="10" />
				</resource>
			</resource>
		</resources>
	</acl>
</config>
