<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 Codazon. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
		<section id="codazon_osc" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>One Step Checkout</label>
            <tab>codazon</tab>
			<resource>Codazon_SalesPro::osc_settings</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="customization" translate="label" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Customization</label>
                <field id="place_order_label" translate="label,comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Place order button label</label>
                    <comment><![CDATA[Leave empty to use default label: <strong>Place Order</strong>]]></comment>
                </field>
                <field id="enable_order_comment" translate="label,comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Order Comment</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="enable_discount_code" translate="label,comment" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Apply Discount Code</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="default_shipping_method" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Default shipping method</label>
                    <source_model>Magento\Shipping\Model\Config\Source\Allmethods</source_model>
                </field>
            </group>
		</section>
	</system>
</config>