<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <dotsquares_opc>
            <general>
                <enable>0</enable>
                <checkout_suite_design>1</checkout_suite_design>
            </general>
            <extended>
                <title>Checkout</title>
                <use_dotsquares_checkout_experience>1</use_dotsquares_checkout_experience>
                <show_discount>1</show_discount>
                <show_comment>1</show_comment>
                <show_gift_message>1</show_gift_message>
                <show_subscribe>1</show_subscribe>
                <subscribe_by_default>0</subscribe_by_default>
                <payment_title_type>logo_title</payment_title_type>
                <reload_shipping_methods_on_discount>0</reload_shipping_methods_on_discount>
                <show_all_ship_methods>0</show_all_ship_methods>
            </extended>
            <restrict_payment>
                <enable>0</enable>
            </restrict_payment>
            <ga_ab_test>
                <enable>0</enable>
            </ga_ab_test>
        </dotsquares_opc>
    </default>
</config>
