<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<improvebundle>
			<general>
				<enabled/>
				<included_files>jquery.js
domReady.js
jquery/jquery-migrate.js
mage/ie-class-fixer.js
jquery/patches/jquery.js
jquery/jquery.mobile.custom.js
jquery/jquery.cookie.js
jquery-ui-modules/widget.js
mage/smart-keyboard-handler.js
mage/toggle.js
Codazon_ProductFilter/js/productfilter.js
jquery/patches/jquery-ui.js
domReady!.js
mage/common.js
text!js-translation.json.js
Magento_Translation/js/mage-translation-dictionary.js
matchMedia.js
jquery-ui-modules/core.js
underscore.js
mage/template.js
Magento_Ui/js/lib/key-codes.js
jquery-ui-modules/position.js
jquery-ui-modules/tooltip.js
mage/apply/scripts.js
mage/apply/main.js
mage/mage.js
Magento_Theme/js/theme.js
mage/translate.js
Magento_Ui/js/modal/modal.js
Magento_Ui/js/modal/confirm.js
mage/dataPost.js
mage/cookies.js
jquery-ui-modules/button.js
js/owlcarousel/owl.carousel.min.js
js/owlcarousel/owlslider.js
knockoutjs/knockout.js
knockoutjs/knockout-es5.js
Magento_Ui/js/lib/knockout/extender/observable_array.js
knockoutjs/knockout-repeat.js
knockoutjs/knockout-fast-foreach.js
Magento_Ui/js/lib/knockout/bindings/mage-init.js
Magento_Ui/js/lib/knockout/bindings/fadeVisible.js
jquery-ui-modules/mouse.js
jquery-ui-modules/draggable.js
jquery-ui-modules/resizable.js
jquery-ui-modules/dialog.js
mage/translate-inline.js
jquery/jquery.storageapi.min.js
jquery/jquery-storageapi.js
mage/collapsible.js
mage/tabs.js
Magento_Theme/js/responsive.js
Magento_Theme/js/fastest.js
mage/utils/wrapper.js
Magento_Ui/js/lib/knockout/template/loader.js
Magento_Ui/js/lib/knockout/template/renderer.js
Magento_Ui/js/lib/knockout/bindings/i18n.js
Magento_Ui/js/lib/knockout/bindings/keyboard.js
Magento_Ui/js/lib/knockout/bindings/after-render.js
Magento_Ui/js/lib/knockout/bindings/autoselect.js
Magento_Ui/js/lib/knockout/bindings/outer_click.js
Magento_Ui/js/lib/knockout/bindings/simple-checked.js
Magento_Ui/js/lib/knockout/bindings/collapsible.js
Magento_Ui/js/lib/knockout/bindings/bind-html.js
Magento_Ui/js/lib/knockout/bindings/staticChecked.js
Magento_Ui/js/lib/knockout/bindings/tooltip.js
es6-collections.js
Magento_Ui/js/lib/core/events.js
Magento_Ui/js/lib/knockout/extender/bound-nodes.js
Magento_Ui/js/lib/registry/registry.js
jquery-ui-modules/slider.js
Magento_Ui/js/lib/knockout/bindings/range.js
Magento_Ui/js/lib/logger/message-pool.js
Magento_Ui/js/lib/logger/levels-pool.js
Magento_Ui/js/lib/logger/console-output-handler.js
Magento_Ui/js/lib/logger/logger.js
Magento_Ui/js/lib/logger/logger-utils.js
tinycolor.js
spectrum.js
Magento_Ui/js/lib/knockout/bindings/color-picker.js
moment.js
Magento_Ui/js/lib/view/utils/bindings.js
Magento_Ui/js/lib/logger/entry.js
Magento_Ui/js/lib/logger/entry-factory.js
jquery-ui-modules/datepicker.js
jquery-ui-modules/timepicker.js
mage/calendar.js
mage/utils/objects.js
mage/utils/compare.js
mage/utils/strings.js
mage/utils/arrays.js
mage/utils/template.js
Magento_Ui/js/lib/logger/formatter.js
FormData.js
mage/utils/misc.js
mage/utils/main.js
Magento_Ui/js/lib/knockout/bindings/datepicker.js
Magento_Ui/js/lib/knockout/bindings/optgroup.js
Magento_Ui/js/lib/core/class.js
Magento_Ui/js/lib/knockout/template/observable_source.js
Magento_Ui/js/lib/core/storage/local.js
Magento_Ui/js/lib/logger/console-logger.js
Magento_Ui/js/lib/knockout/template/engine.js
Magento_Ui/js/lib/knockout/bindings/scope.js
MutationObserver.js
Magento_Ui/js/lib/view/utils/dom-observer.js
Magento_Ui/js/lib/view/utils/async.js
Magento_Ui/js/lib/knockout/bindings/resizable.js
Magento_Ui/js/lib/knockout/bindings/bootstrap.js
Magento_Ui/js/lib/knockout/bootstrap.js
mage/bootstrap.js
mage/loader.js
Magento_PageCache/js/page-cache.js
mage/dropdown.js
mage/dropdowns.js
Magento_Search/js/form-mini.js
mage/trim-input.js
Codazon_ThemeOptions/js/category-search.js
Magento_Theme/js/fastest_fashion.js
Magento_Ui/js/block-loader.js
Magento_Customer/js/section-config.js
Magento_Theme/js/cookie-status.js
Codazon_MegaMenu/js/menu.js
Codazon_Shopbybrandpro/js/brands.js
Magento_Persistent/js/view/customer-data-mixin.js
Codazon_QuickShop/js/jquery.nicescroll.min.js
Codazon_QuickShop/js/quickshop.js
Codazon_AjaxCartPro/js/catalog-add-to-cart.js
Magento_Ui/js/core/renderer/types.js
Magento_Ui/js/core/renderer/layout.js
Magento_Ui/js/core/app.js
Mageplaza_Core/js/jquery.magnific-popup.min.js
mage/url.js
mage/storage.js
Magento_Customer/js/customer-data.js
socialProvider.js
Mageplaza_SocialLogin/js/popup.js
Magento_Ui/js/lib/core/element/links.js
Magento_Ui/js/lib/core/element/element.js
Magento_Customer/js/invalidation-processor.js
Magento_Ui/js/lib/core/collection.js
Magento_Catalog/js/view/image.js
Magento_Tax/js/view/checkout/minicart/subtotal/totals.js
Magento_Msrp/js/view/checkout/minicart/subtotal/totals.js
jquery/jquery.metadata.js
jquery/validate.js
mage/validation.js
mage/validation/validation.js
Mageplaza_SocialLogin/js/view/social-buttons.js
Flurrybox_EnhancedPrivacy/js/view/popup.js
Magento_Customer/js/view/customer.js
Magento_Wishlist/js/view/wishlist.js
MageWorx_SearchSuiteAutocomplete/js/autocomplete.js
MageWorx_SearchSuiteAutocomplete/js/bindEvents.js
MageWorx_SearchSuiteAutocomplete/js/dataProvider.js
Magento_Captcha/js/model/captchaList.js
mage/decorate.js
Magento_Catalog/js/view/compare-products.js
Magento_Customer/js/model/authentication-popup.js
Magento_Ui/js/modal/alert.js
Codazon_AjaxCartPro/js/sidebar.js
Codazon_AjaxCartPro/js/ajaxcart.js
Magento_Security/js/escaper.js
Magento_Theme/js/view/messages.js
Magento_Customer/js/invalidation-rules/website-rule.js
Magento_ReCaptchaFrontendUi/js/registry.js
Magento_ReCaptchaFrontendUi/js/ui-messages-mixin.js
mage/requirejs/resolver.js
Magento_Ui/js/lib/spinner.js
Magento_Catalog/js/product/storage/ids-storage.js
Magento_Catalog/js/product/storage/ids-storage-compare.js
jquery-ui-modules/effect.js
jquery-ui-modules/effect-blind.js
jquery-ui-modules/effect-fade.js
Magento_Checkout/js/sidebar.js
Magento_Checkout/js/view/minicart.js
Magento_Ui/js/model/messages.js
Magento_Ui/js/model/messageList.js
Magento_Ui/js/view/messages.js
Magento_Customer/js/action/login.js
Magento_Captcha/js/action/refresh.js
Magento_Captcha/js/model/captcha.js
Magento_Captcha/js/view/checkout/defaultCaptcha.js
Magento_Captcha/js/view/checkout/loginCaptcha.js
Magento_Catalog/js/product/query-builder.js
Magento_Catalog/js/product/storage/data-storage.js
Magento_Catalog/js/product/storage/storage-service.js
Magento_Catalog/js/storage-manager.js
Magento_Ui/js/form/adapter/buttons.js
Magento_Ui/js/form/adapter.js
Magento_Ui/js/form/form.js
Magento_Customer/js/view/authentication-popup.js
Klarna_Onsitemessaging/js/pricebox-widget-mixin.js
Magento_Catalog/js/price-utils.js
Magento_Catalog/js/price-box.js
jquery/jquery.parsequery.js
Magento_Swatches/js/swatch-renderer.js
Magento_Wishlist/js/add-to-wishlist.js
Magento_Cookie/js/require-cookie
				</included_files>
			</general>
		</improvebundle>
	</default>
</config>
