@media all and (min-width: 640px) {
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field {
    display: block;
    width: 50%;
  }
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field:nth-child(2n) {
    padding-left: 7px;
  }
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field.datepicker .control,
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field.timepicker .control,
  .checkout-index-index .opc-wrapper.am-opc-wrapper .amcheckout-delivery-date .field.comment {
    width: 100%;
  }
}
.amcheckout-delivery-date .field {
  float: left;
  box-sizing: border-box;
  padding-top: 4px;
  width: 100%;
}
.amcheckout-delivery-date .field.comment {
  width: 100%;
}
.amcheckout-delivery-date .field.datepicker,
.amcheckout-delivery-date .field.timepicker {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.amcheckout-delivery-date .field.datepicker .control,
.amcheckout-delivery-date .field.timepicker .control {
  flex: none;
  width: 60%;
}
.amcheckout-delivery-date .field.datepicker .control .ui-datepicker-trigger {
  margin-left: 7px;
}
.amcheckout-delivery-date .field .label {
  display: block;
  margin: 12px 0;
}
.amcheckout-delivery-date .clearer {
  clear: both;
}
.amcheckout-delivery-date .field._required > .label:after {
  margin: 0 0 0 5px;
  color: #e02b27;
  content: '*';
  font-size: 1.2rem;
}
.page-main .block.block-order-details .delivery {
  float: right;
  font-weight: 600;
}
.page-main .block.block-order-details .delivery .delivery-field {
  float: left;
  margin-left: 12px;
}
