<?xml version="1.0"?>
<!--
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package Amasty_CheckoutCore
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Amasty_CheckoutCore::checkout_settings" title="One Step Checkout" translate="title" module="Amasty_CheckoutCore" sortOrder="100" parent="Magento_Backend::system" resource="Amasty_CheckoutCore::checkout_settings"/>
        <add id="Amasty_CheckoutCore::checkout_settings_fields" title="Manage Checkout Fields" translate="title" module="Amasty_CheckoutCore" sortOrder="10" parent="Amasty_CheckoutCore::checkout_settings" action="amasty_checkout/field" resource="Amasty_CheckoutCore::checkout_settings_fields"/>
        <add id="Amasty_CheckoutCore::reports" title="Checkout Analytics" translate="title" module="Amasty_CheckoutCore" sortOrder="1" parent="Magento_Reports::report_marketing" action="amasty_checkout/reports/" resource="Amasty_CheckoutCore::reports"/>
    </menu>
</config>
