<?xml version="1.0"?>
<!--
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package Amasty_CheckoutCore
*/
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amasty_CheckoutCore" setup_version="1.1.0">
        <sequence>
            <module name="Amasty_Base"/>
            <module name="Amasty_Geoip" />
            <module name="Magento_Braintree" />
            <module name="Magento_Checkout" />
            <module name="Magento_Reward" />
            <module name="PayPal_Braintree" />
            <module name="TIG_PostNL" />
        </sequence>
    </module>
</config>
